{% extends 'base.html' %}

{% block content %}

<div class="card shadow">
    <div class="card-body">

        <h3 class="mb-3">🐶 รายชื่อสัตว์</h3>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Breed</th>
                    <th>Age</th> <!-- 🔥 เพิ่ม -->
                </tr>
            </thead>

            <tbody>
                {% for pet in pets %}
                <tr>
                    <td>{{ pet.pet_id }}</td>
                    <td>{{ pet.owner.owner_id }}</td>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.species }}</td>
                    <td>{{ pet.breed }}</td>
                    <td>{{ pet.get_age }} </td> <!-- 🔥 เพิ่ม -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}